<div class="container" >
    <div class="content">
        <nav class="own-nav-tabs">
            <a class="own-nav-link" routerLink="../login">Log in</a>
            <a class="own-nav-link active" routerLink="../registration">Create Account</a>
        </nav>
        <div class="unite-form">
            Sign-up
        </div>
        <form class="own-form" [formGroup]="form" (ngSubmit)="register()">
            <div class="email-label" >
                Enter your user name to continue:
            </div>
            <input class="own-input" type="email" placeholder="Email" formControlName="username">
            <button class="own-button" type="submit">Sign-up</button>
        </form>
    </div>
</div>
