:host {
  background: #E5E5E5;
}

.container {
  max-width: 480px;
  width: calc(100% - 16px);
  height: calc(100vh - 210px);
  margin-left: auto;
  margin-right: auto;
}

.unite-form {
  max-width: 352px;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.auth-login-button {
  width: 100%;
  height: 50px;
  ownid-auth-button { width: 100%; }
}

.email-label {
  font-size: 14px;
  margin-bottom: 8px;
}

.spacer {
  margin-bottom: 16px;
}

.content {
  margin-top: 40px;
  padding: 24px 24px 32px;
  background: #FFFFFF;
  border: 0.5px solid #D0D0D0;
  box-shadow: 1px 4px 88.5px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  &.padded {
    padding: 60px;
  }
}

.terms {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #7A7A7A;
}

